* {
    font-family: "Nunito";
}


.table-container {
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa;
}
.result-container {
    background-color: white;
    text-align: center;
}
.title {
    text-align:center; 
}
.header {
    background-color: #003472;
    padding: 20px;
}
.nav-link {
    color: white;
}
.nav-tabs {
    border-bottom: 0px;
    border-radius: 5px;
}
th {
    color: #70757a;
}
.logo {
    height: auto;
    width: 20px;
}
.standings-table tr:nth-of-type(-n+5) {
    background: linear-gradient(to right, #0000ff, #0000ff 0.1rem, transparent 1.3rem, transparent 100%);
}

.standings-table tr:nth-of-type(6), .standings-table tr:nth-of-type(7) {
    background: linear-gradient(to right, #008000, #008000 0.1rem, transparent 1.3rem, transparent 100%);   
}

.standings-table tr:nth-last-child(1), .standings-table tr:nth-last-child(2), .standings-table tr:nth-last-child(3){
    background:linear-gradient( to right, red, red 0.1rem,transparent 1.3rem,transparent 100%); 
    
}